# Change the WORDPRESS_DB_HOST to the exact IP/DNS-Name where your DB is located.
# - If it is part of this docker-compose stack, you can leave it to db.local
# - If it is elsewhere, then chnage it to exact IP/DNS of that location.
WORDPRESS_DB_HOST=db.local
WORDPRESS_DB_NAME=db_wordpress
WORDPRESS_DB_USER=user_wordpress
WORDPRESS_DB_PASSWORD=secret
WORDPRESS_TABLE_PREFIX=wp_
APACHE_RUN_USER=#1000
APACHE_RUN_GROUP=#1000

# You don't need the following, unless you want to pull some plugin or theme 
#   from a private git repo, (accessible to you).
# 
# GITHUB_USER=regulargithubusername
# GITHUB_TOKEN=base64encodedgithubtoken
